rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth != null;

      allow create, update: if request.auth != null
        && request.resource.size < 12 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|application/pdf');

      // Necessário para a opção "Excluir ficha" também remover
      // as imagens vinculadas durante a fase de testes.
      allow delete: if request.auth != null;
    }
  }
}
